@use '../../../styles/variables' as *;

.ui-spinner {
  display: inline-block;
  border: 2px solid rgba($ui-color-accent, 0.2);
  border-top-color: currentColor;
  border-radius: 50%;
  color: $ui-color-accent;
  animation: ui-spinner-rotate 0.7s linear infinite;
}

@keyframes ui-spinner-rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
